@import "variables";

.main-min-h {
    min-height: 91vh;
}

.wrapper {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 80%;
}

.hidden-titles {
    opacity: 0;
    position: absolute;
    top: -100%;
}

.yellow-background {
    background-color: #FCC940;;
}

.active {
    background-color: #2E2E2E;
    color: #FCC940;
    text-align: center;
}

.blurred-background {
    background-color: #2E2E2E;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.scale:hover {
    transform: scale(1.02);
}

.icon-plus {
    stroke: #7C7C7C;
}

.group:hover .icon-plus {
    stroke: #2C2C2C;
}

.back-button-space {
    right: 3.5rem;
    transition: all;
    transition-duration: 300ms;
}

.back-button:hover .back-button-space {
    right: 4rem;
}

.sticky-own {
    position: sticky;
    top: 10px;
}

@media (min-width: 2500px) {
    .max-width-block {
        max-width: 60%;
    }
}

@media (max-width: 800px) {


    .mobile-menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em;
        top: 0;
        background-color: #FCC940;
        left: 0;
        right: 0;
        height: 80px;
        z-index: 9999999;

        &__btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 30px;
            cursor: pointer;
            transition: .4s;
        }

        &__icon {
            display: block;
            position: relative;
            background: #2E2E2E;
            width: 90%;
            height: 4px;
            transition: .4s;

            &::after,
            &::before {
                content: "";
                display: block;
                position: absolute;
                background: #2E2E2E;
                width: 100%;
                height: 4px;
                transition: .4s;
            }

            &::after {
                top: 8px;
            }

            &::before {
                top: -8px;
            }
        }

        &__container {
            position: fixed;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 50px;
            left: 0;
            right: 0;
            z-index: 0;
            height: 0;
            opacity: 1;
            transition: .5s;
            transition-delay: .2s;
            overflow: hidden;
            background-color: #FCC940;
        }

        &__list {
            text-align: center;
            transition: .5s;
            transition-delay: .5s;
            list-style: none;
            margin-top: -50px;
            padding-left: 0;
            flex-direction: column;
            gap: 2em;
        }

        &__item {
            font-size: 26px;
            padding-bottom: 15px;
            position: unset;
        }

        &__link {
            text-decoration: none;
            margin-left: 0;
        }

        &__checkbox {
            display: none;

            &:checked ~ {
                .mobile-menu {

                    &__nav {
                        opacity: 1;
                        transition-delay: 0s;
                    }

                    &__container {
                        height: 100%;
                        transition-delay: 0s;
                    }

                    &__btn {
                        &__icon {
                            background: transparent;

                            &::before,
                            &::after {
                                top: 0;
                            }

                            &::after {
                                transform: rotate(-45deg);
                            }

                            &::before {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
