@import "variables";

.wrapper {
    padding-left: 10%;
    padding-right: 10%;
}

.yellow-background {
    background-color: $main-color;
}

.active {
    background-color: #2E2E2E;
    color: #FCC940;
    text-align: center;
}

.blurred-background {
    background-color: $dark-button-color;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.scale:hover{
    transform: scale(1.02);
}

.icon-plus {
    stroke: #7C7C7C;
}

.group:hover .icon-plus {
    stroke: #2C2C2C;
}

.back-button-space{
    right: 3.5rem;
    transition: all;
    transition-duration: 300ms;
}

.back-button:hover .back-button-space{
    right: 4rem;
}

.sticky-own {
    position: sticky;
    top: 10px;
}
